type: participation-api
service: participation-api
provider:
  name: aws
  runtime: nodejs8.10
  iamRoleStatements:
  - Effect: Allow
    Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
    Resource: arn:aws:dynamodb:us-east-1:942252418694:table/participationsDB
functions:
  participationsGet:
    handler: api.get
    events:
      - http:
          path: /
          method: get
  participationsPost:
    handler: api.post
    events:
       - http:
           path: /
           method: post
  participationsDelete:
    handler: api.delete
    events:
      - http:
          path: /
          method: delete

resources:   
  Resources:     
    ParticipationsTable:       
      Type: 'AWS::DynamoDB::Table'       
      Properties:        
        TableName: participationsDB        
        AttributeDefinitions:           
          -             
            AttributeName: id             
            AttributeType: S         
        KeySchema:           
          -             
            AttributeName: id             
            KeyType: HASH         
        ProvisionedThroughput:            
          ReadCapacityUnits: 1           
          WriteCapacityUnits: 1